<div class="panel panel-primary">
	{{#if isEditing}}
		{{partial "tickets/_form"}}
	{{else}}
	<div class="panel-heading">
		<h3 class="panel-title">
			<span class="badge pull-right">{{status}}</span>
			{{title}}
		</h3>
	</div>
	<div class="panel-body">
		{{description}}
	</div>
	<div class="list-group">
		<div class="list-group-item">
			<div class="row">
				<div class="col-md-6">
					<h5>Reported by:</h5>
					{{#link-to 'user' creator}}
						{{gravatar-image email=creator.email size=40 class="img-circle"}}
						{{creator.displayName}}
					{{/link-to}}
				</div>
				<div class="col-md6">
					<h5>Assigned to:</h5>
					{{#link-to 'user' assignee}}
						{{gravatar-image email=assignee.email size=40 class="img-circle"}}
						{{assignee.displayName}}
					{{/link-to}}		
				</div>
			</div>
		</div>
	</div>	
		
		
	
	{{/if}}
	
	
	<div class="panel-footer">
		{{#if isEditing}}
			<button class="btn btn-default" {{action "done"}}>Done</button>
		{{else}}
			<button class="btn btn-default" {{action "edit"}}>Edit</button>
		{{/if}}
	</div>

</div>